# IntelliJ project files
.idea
.jpb
*.iml
out
gen

# Gradle auto-genereated files
.gradle
gradle
build
gradlew.bat
gradlew
/dao/src/test/resources/application-test.properties
/service/src/main/resources/application-dev.properties
/service/src/main/resources/application-prod.properties
