# IntelliJ project files
.idea
.jpb
*.iml
out
gen

# Gradle auto-genereated files
.gradle
gradle
build
gradlew.bat
gradlew

/dao/src/test/resources/application-test.yml
/data-generation/src/main/resources/application.yml
/web/src/main/resources/application-dev.yml
/web/src/main/resources/application-prod.yml
